audioread==2.1.8
decorator==4.4.0
dj-database-url==0.5.0
Django==2.2.1
djangorestframework==3.9.4
future==0.17.1
gunicorn==19.9.0
joblib==0.13.2
librosa==0.6.3
llvmlite==0.29.0
numba==0.44.1
numpy==1.16.3
psycopg2==2.8.3
pygobject==3.32.2
pytz==2019.1
resampy==0.2.1
scikit-learn==0.21.2
scipy==1.3.0
six==1.12.0
sqlparse==0.3.0
whitenoise==4.1.2
