{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beatabel API</title>
    <style>
        body{
            margin: 0;
        }
        h1{
            margin: 0;
            font-family: Courier, serif;
            display: flex;
            height: 100vh;
            align-items: center;
            justify-content: center;
        }

    </style>
</head>
<body>
    <h1>You are BeatAbel ;)</h1>
{#    <img src="{% static 'images/test.png' %}"  alt="Test image">#}

</body>
</html>

